  
  *{
    font-family: 'Work Sans', sans-serif;
    }
    .h-font{
    font-family: 'EB Garamond', serif;
    }
    input ::-webkit-outer-spin-button,
    input ::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin:0;
    }
    input[type=number]{
        -moz-appearance: textfield;
    }

    .custom-bg{
        background-color: #a3ac84;
        border: 1px solid #eee6e1;
    }
    .custom-bg:hover{
        background-color: #4d4838;
        border-color: #eee6e1;

    }
.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}